@import 'tailwindcss';

@layer base {
  /* TODO: Add font */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply m-0;
  }

  h1 {
    @apply mb-2 text-4xl leading-[100%] sm:text-7xl md:text-9xl;
  }

  h2 {
    @apply mb-2 text-3xl leading-[100%] sm:text-5xl md:text-8xl;
  }

  h3 {
    @apply mb-2 text-2xl leading-[100%] sm:text-4xl md:text-7xl;
  }

  h4 {
    @apply mb-2 text-xl leading-[100%] sm:text-3xl md:text-5xl;
  }

  h5 {
    @apply mb-2 text-2xl leading-[100%] sm:text-3xl sm:tracking-tight md:text-4xl;
  }

  h6 {
    @apply mb-2 text-lg leading-[100%] sm:text-2xl md:text-3xl;
  }

  p {
    @apply sm:my-2;
  }

  a {
    @apply cursor-pointer underline underline-offset-1 transition-all duration-300 hover:underline hover:underline-offset-2 sm:no-underline;
  }

  ul,
  ol {
    @apply pl-4;
  }

  li {
    @apply px-2;
  }

  strong {
    @apply font-semibold;
  }

  em {
    @apply italic;
  }
}

@layer utilities {
  .text-micro {
    @apply text-xs sm:text-sm md:text-base xl:text-base;
  }

  /* Small meta text */
  .text-mini {
    @apply text-sm sm:text-base md:text-lg xl:text-lg;
  }

  /* Secondary body text */
  .text-small {
    @apply text-base sm:text-lg md:text-xl xl:text-xl;
  }

  /* Main body text */
  .text-regular {
    @apply text-lg sm:text-xl md:text-2xl xl:text-2xl;
  }

  /* Section headings */
  .text-large {
    @apply text-2xl sm:text-3xl md:text-4xl xl:text-4xl;
  }

  /* Hero / display text */
  .text-extra {
    @apply text-4xl sm:text-5xl md:text-6xl xl:text-7xl;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Chrome, Safari, and Opera */
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}
